@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* CSS */

html, body{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	width: 100%;
}

@media only screen and (min-width: 100em){
	html{
		font-size: 1.5em;
	}
}

h1, 
.main,
.copyright{
	width: 90%;
	margin: 1rem auto;
}

h1 a, 
h1 a:link,
h1 a:visited{
	font-weight: 100;
	color: rgba(96,61,57,0.8);
	padding-right: 3rem;
	text-decoration: none;
}

h1 a:hover,
h1 a:focus,
h1 a:active{
	color: rgba(96,61,57,0.5);
}

h2{
	font-weight: 100;
	color: rgb(113,127,109);
	text-align: center;
}

h3{
	font-weight: 100;
	color: rgb(113,127,109);
	text-align: center;
	margin-top: 5rem;
}

p {
	margin: auto;
	color: #333;
	font-size: 15px;
	line-height: 1.5rem;
}

em {
	font-style: italic;
}

hr {
	color: rgba(96,61,57,0.8);
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.wrapper{
	max-width: 800px;
	margin: 0 auto;
}

.main{
	margin-bottom: 5rem;
	max-width: 405px;
	
}

.copyright{
	text-align: center;
	color: rgba(96,61,57,0.8);
}
	

img{
	width: 100%;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

/* Navigation Styles */

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;	
	right: 5%;
	background: #fff url('../images/nav-icon.svg') no-repeat center center;
}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color: rgba(225,222,214,0.5);
}

.nav-btn[data-state="active"] {
	background: rgba(225,222,214,0.5) url('../images/nav-close.svg') no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	color: rgb(113,127,109);
	text-decoration: none;
	border-top: 1px solid #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	color: #a5baa0;
}

/* Toggle Nav*/

.nav-top{
	max-height: 0;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
	overflow:hidden;
}

.nav-top[data-state="expanded"]{
	max-height: 14rem;
	background-color: rgba(225,222,214,0.5);
}

.nav-bottom{
background-color: rgba(225,222,214,0.5);
}

/* Feature Image Slider */
	
.flexslider {
	max-width: 800px;
	margin: 1px auto;
	margin-bottom: 4rem;
}

.flex-caption{
	text-align: center;
	margin: 0;
	padding: 1rem;
	font-family: 'Philosopher', sans-serif;
	font-size: 24px;
	color: rgba(96,61,57,0.8);
	background-color: rgba(225,222,214,0.5);
}

/* Transformations */
	
.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text{
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social {
	margin-top: 5rem;
	margin-bottom: 4rem;
	width: 100%;
	text-align:center;
}

.social li{
	display: inline-block;
}

.social li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: .5rem;
	text-align: center;
	padding-top: 0.8125rem;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	
	color: #fff;
	-webkit-box-shadow: inset 0px 0px 0px 40px #c8c5be;
	-moz-box-shadow: inset 0px 0px 0px 40px #c8c5be;
	-ms-box-shadow: inset 0px 0px 0px 40px #c8c5be;
	-o-box-shadow: inset 0px 0px 0px 40px #c8c5be;
	box-shadow: inset 0px 0px 0px 40px #c8c5be;
}

.social li a:hover,
.social li a:active,
.social li a:focus{
	-webkit-box-shadow: inset 0px 0px 0px 3px #4f594c;
	-moz-box-shadow: inset 0px 0px 0px 3px #4f594c;
	-ms-box-shadow: inset 0px 0px 0px 3px #4f594c;
	-o-box-shadow: inset 0px 0px 0px 3px #4f594c;
	box-shadow: inset 0px 0px 0px 3px #4f594c;
	color: #4f594c;
}

.fancy-link,
.fancy-link:link,
.fancy-link-visited{
	color: rgba(96,61,57,0.8);
	font-weight: bold;
	text-decoration:none;
	border-bottom: 0px solid rgba(96,61,57,0.8);
}

.fancy-link:hover,
.fancy-link:active,
.fancy-link:focus{
	color: rgba(96,61,57,0.5);
	border-bottom: 2px solid rgba(96,61,57,0.5);
}

/* Photo Styles */

.thumbnails li {
	margin: 0 auto;
	width: 200px;
	height: 200px;
}

.thumbnail {
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	width: 200px;
	height: 200px;
}

.image {
	display: none;
}

/* Media Queries */

@media screen and (min-width: 18em) {
	
	h2 {
		margin-top: 5rem;
	}
	
}
	
@media only screen and (min-width: 25em){
	.nav{
		overflow: auto;
		margin: 1rem auto;
	}
	
	.nav li{
		float: left;
		width: 33.33%;
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		max-height: 5rem;
		background-color: rgba(225,222,214,0.5);
	}
	
	.nav-bottom{
	background-color: rgba(225,222,214,0.5);
	}
	
	.flexslider {
		margin-top: -1rem;
	}
	
	h2{
		margin-top: 6rem;
	}
	
	.image:target {
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
	}

	.image:target img {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		margin-top: -200px;
		margin-left: -200px;
		width: 400px;
		height: 400px;
		box-shadow: black 0 0 10px;
	}

	.image:target .close {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.9);
		content: "";
	}

	.image:target .next, .image:target .previous {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		display: block;
		margin-top: -200px;
		margin-left: -200px;
		width: 50px;
		height: 400px;
		text-indent: -9000px;
		-webkit-transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
		-o-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

	.image:target .next:hover, .image:target .previous:hover {
	  background-color: rgba(225,222,214,0.2);
	}

	.image:target .next:before, .image:target .previous:before {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		margin-top: -7px;
		margin-left: -7px;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		content: "";
	}

	.image:target .next {
		margin-left: 150px;
	}

	.image:target .next:before {
		border-left: 15px solid rgba(225,222,214,0.8);
	}

	.image:target .previous {
		margin-left: -200px;
	}

	.image:target .previous:before {
		border-right: 15px solid rgba(225,222,214,0.8);
	}
}

@media only screen and (min-width: 29em){
	.thumbnails li {
	display:inline-block;
	}
	
}

@media only screen and (min-width: 35em){
	.nav{
		text-align: center;
	}
	
	.nav li{
		display: inline-block;
		float: none;
		margin: 0;
		width:auto;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	}
	
	.nav-top{
		float: right;
		margin-right: 5%;
		background-color: #fff;
	}
	
	h1{
		float: left;
		width: auto;
		margin-left: 5%;
	}
	
	header{
		overflow: auto;
	}
}